<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.ClassinfoMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.Classinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="employee_id" property="employee_id" jdbcType="BIGINT" />
    <result column="t_id" property="teacher.id"/>
    <result column="t_name" property="teacher.name"/>
    <collection property="teachers" select="cn.wolfcode.mapper.TeacherMapper.selectByClaId" column="id"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from classinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteRelation">
    delete from teacher_classinfo
    where classinfo_id = #{cid}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.domain.Classinfo" useGeneratedKeys="true" keyProperty="id" >
    insert into classinfo (name, number, employee_id
      )
    values (#{name,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{teacher.id}
      )
  </insert>
  <insert id="insertRelation2">
    insert into teacher_classinfo(classinfo_id, teacher_id) values(#{cid},#{tid})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.domain.Classinfo" >
    update classinfo
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      employee_id = #{teacher.id}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select c.id, c.name, c.number, c.employee_id, t.id as t_id,t.name as t_name
    from classinfo c
    join teacher_classinfo tc on c.employee_id = tc.classinfo_id
    join teacher t on tc.teacher_id = t.id
    where c.id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, number, employee_id
    from classinfo
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select c.id, c.name, c.number, c.employee_id, t.id as t_id,t.name as t_name
    from classinfo c
    left join teacher_classinfo tc on c.employee_id = tc.classinfo_id
    left join teacher t on tc.teacher_id = t.id
    <include refid="where_sql"/>
  </select>
  <select id="selectName" resultType="cn.wolfcode.domain.Classinfo">
    select id, name
    from classinfo
    where name = #{name}
  </select>
  <!--分页的功能-->
  <sql id="where_sql">
    <where>
      <if test="keyword != null">
        and c.name like concat('%',#{keyword},'%')
      </if>
      <if test="teacherId != null and teacherId != -1">
        and t.id = #{teacherId}
      </if>
    </where>
  </sql>
</mapper>