<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.CustomerMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.Customer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="input_time" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <association property="job" javaType="cn.wolfcode.domain.SystemDictionaryItem" columnPrefix="job_">
    <id column="id" property="id"/>
    <result column="title" property="title"/>
    </association>
    <association property="source" javaType="cn.wolfcode.domain.SystemDictionaryItem" columnPrefix="source_">
      <id column="id" property="id"/>
      <result column="title" property="title"/>
    </association>
    <association property="seller" javaType="cn.wolfcode.domain.Employee" columnPrefix="seller_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.domain.Customer" useGeneratedKeys="true" keyProperty="id" >
    insert into customer (name, age, gender, 
      tel, qq, job_id, source_id, 
      seller_id, input_user_id, input_time, 
      status)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, 
      #{tel,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{job.id,jdbcType=BIGINT}, #{source.id,jdbcType=BIGINT}, 
      #{seller.id,jdbcType=BIGINT}, #{inputUser.id,jdbcType=BIGINT}, #{inputTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.domain.Customer" >
    update customer
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      job_id = #{job.id,jdbcType=BIGINT},
      source_id = #{source.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStatus">
    update customer
    set
      status = #{status}
    where id = #{customerId}
  </update>
  <update id="updates">
    UPDATE customer set seller_id = #{sourceId} where id = #{customerId}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, age, gender, tel, qq, job_id, source_id, seller_id, input_user_id, 
    input_time, status
    from customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, age, gender, tel, qq, job_id, source_id, seller_id, input_user_id, 
    input_time, status
    from customer
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    SELECT
      c.id,
      c.name,
      c.age,
      c.gender,
      c.tel,
      c.qq,
      c.input_time,
      c.status,
      job.id as job_id,
      job.title as job_title,
      source.id as source_id,
      source.title as source_title,
      seller.id as seller_id,
      seller.name as seller_name
    FROM
      customer c
      left join systemdictionaryitem job on c.job_id = job.id
      left join systemdictionaryitem source on c.source_id = source.id
      left join employee seller on c.seller_id = seller.id
    <where>
      <if test="status!=null">
        and c.status = #{status}
      </if>
      <if test="sellerId > -1">
        and c.seller_id = #{sellerId}
      </if>
      <if test="keyword != null">
        and (c.name like concat('%',#{keyword},'%') or c.tel like concat('%',#{keyword},'%'))
      </if>
    </where>
  </select>
  <select id="selectTel" resultType="cn.wolfcode.domain.Customer">
    select id, name, age, gender, tel, qq, job_id, source_id, seller_id, input_user_id,
      input_time, status
    from customer
    where tel = #{tel}
  </select>
  <select id="selectStatus" resultType="cn.wolfcode.domain.Customer">
    SELECT DISTINCT
      c.STATUS
    FROM
      customer c
      LEFT JOIN systemdictionaryitem job ON c.job_id = job.id
      LEFT JOIN systemdictionaryitem source ON c.source_id = source.id
      LEFT JOIN employee seller ON c.seller_id = seller.id
  </select>
  <select id="selectStatu" resultType="cn.wolfcode.domain.Customer">
    SELECT
      c.id,
      c.name
    FROM
      customer c
    where c.status = #{statusCommon}
  </select>
  <select id="selectStatuAll" resultType="cn.wolfcode.domain.Customer">
    SELECT
      c.id,
      c.name
    FROM
      customer c
  </select>
</mapper>