<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.mapper.DepartmentMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into department(name,snn) VALUES (#{name},#{sn})

    </insert>
    <update id="update">
        update department SET name = #{name},sn=#{sn} where id = #{id}
    </update>
    <delete id="delete">
        DELETE from department WHERE id=#{id}
    </delete>
    <select id="selectAll" resultType="cn.wolfcode.domain.Department">
        SELECT id,name,sn FROM department
    </select>
    <select id="selectOne" resultType="cn.wolfcode.domain.Department">
        SELECT id,name,sn FROM department WHERE id = #{id}

    </select>
    <select id="selectForList" resultType="cn.wolfcode.domain.Department">
        SELECT id,name,sn FROM department
    </select>
</mapper>