<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.SystemDictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.SystemDictionaryItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.domain.SystemDictionaryItem" useGeneratedKeys="true" keyProperty="id" >
    insert into systemdictionaryitem (parent_id, title, sequence
      )
    values (#{parentId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.domain.SystemDictionaryItem" >
    update systemdictionaryitem
    set parent_id = #{parentId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, parent_id, title, sequence
    from systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, parent_id, title, sequence
    from systemdictionaryitem
  </select>
    <select id="selectForList" resultType="cn.wolfcode.domain.SystemDictionaryItem">
      select id, parent_id, title, sequence
      from systemdictionaryitem
      <where>
        <if test="parentId>-1">
          parent_id = #{parentId}
        </if>
      </where>
    </select>
  <select id="selectParentId" resultType="cn.wolfcode.domain.SystemDictionaryItem">

    select id, parent_id, title, sequence
    from systemdictionaryitem  WHERE parent_id = #{parentId}
  </select>
  <select id="selectByParentSn" resultType="cn.wolfcode.domain.SystemDictionaryItem">
    select sdi.id,sdi.title from systemdictionary sd
    LEFT JOIN systemdictionaryitem sdi on sd.id = sdi.parent_id
    where sd.sn = #{sn} order by sdi.sequence
  </select>
</mapper>